#idматериал{
  font-size: 12px;
  line-height: 20px;
  margin-top: 3px;
}
span{
  font-weight: bold;
}
body{
  font-family: sans-serif;
  font-size: 14px;
  line-height: 22px;
}
h1{
  border-bottom: 1px solid#ccc;
  font-family: Georgia;
  font-size: 28px;
  line-height: 37px;
  font-style: normal;
  margin-bottom: 5px;
}
.class1{
  font-family: sans-serif;
  font-size: 13px;
  line-height: 17px;
  font-weight: bold;
}
ol{
  font-family: sans-serif;
  font-size: 13px;
  line-height: 21px;
  font-weight: normal;
}
.classЗаголовок{
  font-family: georgia;
  font-size: 21px;
  line-height: 27px;
  font-weight: normal;
  border-bottom: 1px solid#ccc;
  margin-bottom: 5px;
}
div{
  padding:1px;
  border:1px solid rgb(195, 195, 218);
  width: max-content;
  background-color: rgb(235, 238, 237);
}
#idОсновная{
  margin-top: 3px;
}